
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Headings styles
@import "headings";
.flash {
	backgdound: #F6624A;
	color: white;
	width: 200px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	padding: 1em;
	display: none;
}
